@{
    ViewData["Title"] = "İzin Raporu";
    ViewData["Root"] = "Rapor İşlemleri";
}

<div class="card mb-10">
    <div class="card-flush p-8 d-flex align-items-baseline justify-content-center">
        <div class="w-50 me-3">
            <select id="selectlist" asp-items="@ViewBag.selectList" class="form-select" data-control="select2" data-placeholder="Rapor almak istediğiniz birimi seçiniz"></select>
        </div>
        <div>
            <button id="filterBtn" type="button" class="btn btn-primary fw-bold">Filtreyi Uygula</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                    </svg>
                </span>
                <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Ara" />
            </div>
            <!--end::Search-->
        </div>
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <!--begin::Export dropdown-->
            <button type="button" class="btn btn-light-primary fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                Rapor Al
            </button>
            <!--begin::Menu-->
            <div id="izin_rapor_table_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="copy">
                        Kopyala
                    </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="excel">
                        Excel Dökümü
                    </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="csv">
                        CSV Dökümü
                    </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="pdf">
                        PDF Dökümü
                    </a>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu-->
            <!--end::Export dropdown-->
            <!--begin::Hide default export buttons-->
            <div id="izinlerim_table_buttons" class="d-none"></div>
            <!--end::Hide default export buttons->
                            </div>
                        </div>
            <!--end::Export buttons-->
        </div>
    </div>

    <div class="table-responsive  p-10">
        <table class="table table-row-bordered table-row-dashed dataTable no-footer" id="izin_rapor_table">
            <thead>
                <tr class="text-left text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th>Unvan</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Birim</th>
                    <th>Başlangış Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>İzin Türü</th>
                    <th>Gün Sayısı</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/izin_rapor.js"></script>
}
