@model UpdateTatilVM

@{
    ViewData["Title"] = "Tatil Günleri";
    ViewData["Root"] = "Temel İşlemler";
}

<div class="card mb-10">
    <div class="card-flush p-8">
        <form method="post" id="tatilGunleriForm" asp-controller="Admin" asp-action="TatilGunleri">
            <div class="d-flex align-items-end">
                <div class="fv-row w-100">
                    <label for="Aciklama" class="form-label">Açıklama</label>
                    <input class="form-control mb-2 mb-md-0" id="Aciklama" name="Aciklama" />
                </div>
                <div class="fv-row w-100 mx-6">
                    <label for="Tarih" class="form-label">Tarih</label>
                    <input type="date" class="form-control mb-2 mb-md-0 tarih" id="Tarih" name="Tarih" placeholder="Tarih seçiniz" />
                </div>
                <div class="w-50 mb-2">
                    <button type="submit" class="btn btn-primary w-100">Tatil Günü Oluştur</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <span class="svg-icon svg-icon-1 position-absolute ms-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
                    </svg>
                </span>
                <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Ara" />
            </div>
            <!--end::Search-->
        </div>
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <!--begin::Export dropdown-->
            <button type="button" class="btn btn-light-primary fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                Rapor Al
            </button>
            <!--begin::Menu-->
            <div id="tatil_gunleri_table_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="copy">
                        Kopyala
                    </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="excel">
                        Excel Dökümü
                    </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="csv">
                        CSV Dökümü
                    </a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="#" class="menu-link px-3" data-kt-export="pdf">
                        PDF Dökümü
                    </a>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu-->
            <!--end::Export dropdown-->
            <!--begin::Hide default export buttons-->
            <div id="tatil_gunleri_table_buttons" class="d-none"></div>
            <!--end::Hide default export buttons->
                            </div>
                        </div>
            <!--end::Export buttons-->
        </div>
    </div>

    <div class="table-responsive  p-10">
        <table class="table table-row-bordered table-row-dashed" id="tatil_gunleri_table">
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th>Id</th>
                    <th>Açıklama</th>
                    <th>Tarih</th>
                    <th>İşlemler</th>
                </tr>
                <!--end::Table row-->
            </thead>
        </table>
    </div>
</div>

@section modals {
    <!--begin::Update Tatil Modal-->
    <div class="modal fade modal-lg" tabindex="-1" id="updateTatilModal" data-bs-focus="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Tatil Gününü Güncelle</h3>

                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>

                <div class="modal-body">
                    <form id="updateTatilForm" method="post" asp-controller="Admin" asp-action="UpdateTatilGunu">
                        <input type="hidden" asp-for="UpdateId" />
                        <div class="mb-3 fv-row">
                            <label asp-for="UpdateAciklama">Açıklama</label>
                            <input asp-for="UpdateAciklama" class="form-control" type="text" />
                        </div>
                        <div class="mb-3 fv-row">
                            <label asp-for="UpdateTarih">Tarih</label>
                            <input asp-for="UpdateTarih" class="form-control" type="date" />
                        </div>
                        <input id="btnGuncelle" type="submit" value="Güncelle" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end::Update Tatil Modal-->
}

@section Scripts {
    <script src="~/js/tatil-gunleri.js" asp-append-version="true"></script>
}